* {
  margin: 0;
  padding: 0;
  font-family: "DM Serif Text", serif;
}

html {
  margin: none !important;
  padding: none !important;
}

#videodiv {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.footer {
  color: white;
  font-size: 1.25rem;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #252525;
  position: fixed;
  top: 90%;
  left: 0;
  padding: 1vw;


}

.footerpodio {
  color: white;
  font-size: 1.25rem;
  height: 100%;
  text-align: center;
  background-color: #252525;
  position: relative;
  padding: 1vw;


}

.podiomedalha {
  width: 40%;
}

.footeresportes {
  color: white;
  font-size: 1.60rem;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #252525;
  position: fixed;
  top: 90%;
  left: 0;
  padding: 1vw;


}

#videoindex {
  position: fixed;
  z-index: -1;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  filter: brightness(80%);
  filter: contrast(1.1);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

#bodyesportes {
  background-image: url(img/pexels-pixabay-236937.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

#bodypaises {
  background-image: url(img/wallpaper.png);
  background-size: cover;

  background-attachment: fixed;
}

.indextitulo {
  position: absolute;
  top: 40%;
  left: 30%;
  font-size: 8vw;
  color: white;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.dropdown {
  display: inline-block;
  position: relative;
  z-index: 999;
  margin-left: 2vw;
  margin-top: 3vh;
  animation: fade 0.5s ease-in-out;
}

.dropdowncontent {
  display: none;
  transition: ease 0.5s;
  position: absolute;
  overflow: auto;
  margin-right: 90vw !important;
  animation: fade 0.5s ease-in-out;
}


.menuicon {
  width: 15vh;

}

.dropdown:hover .dropdowncontent {
  display: block;
  animation: fade 0.5s ease-in-out;
}

.dropdowncontent a {
  display: block;
  color: white;
  padding: 5px;
  padding-top: 15px;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  font-size: 4vh;
  transition: 0.5s;
  text-decoration: none;
}

.dropdowncontent a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
  transition: 0.5s;
}

.icone {
  width: 40%;
  position: absolute;
  right: 30%;
  opacity: 0.5;
  top: 32%;
}


.red {
  color: red;
}

.purple {
  color: purple;
}

.blue {
  color: lightblue;
}

.white {
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.black {
  color: black;
  text-shadow: 2px 0 white, -2px 0 white, 0 2px white, 0 -2px white,
    1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;
}

.grey {
  color: #888888;
}

.yellow {
  color: yellow;
}

.green {
  color: lightgreen;
}

.darkblue {
  color: rgb(0, 110, 255);
}

.orange {
  color: orange;
}

.brown {
  color: brown;
}

.darkgreen {
  color: green;
}

.divside {
  transition: 0.5s;
  color: white;
}

.sidetitulo {
  font-size: 4vw;
  position: absolute;
  opacity: 0;
  top: 24%;
  left: 42.5%;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.sidetext {
  font-size: 1.5vw;
  position: absolute;
  top: 40%;
  width: 50%;
  left: 25%;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

#sidetext1 {
  opacity: 0;
}

#sidetext2 {
  opacity: 0;
}

#sidetext3 {
  opacity: 0;
}

#imageside1 {
  position: absolute;
  border: 3px solid black;
  width: 15%;
  margin-left: 80%;
  margin-top: 3%;
  opacity: 0;
}

#imageside2 {
  position: absolute;
  border: 3px solid black;
  width: 15%;
  margin-left: 5%;
  margin-top: 3%;
  transition: 0.5s;
  opacity: 0;
}

.cardtitulo {
  color: white;
  font-size: 3vw;
  text-align: center;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.cardtext {
  color: white;
  font-size: 1.25vw;
  color: white;
  padding: 1vw;
  width: 80%;
  margin-left: 10%;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  transition: max-height 1s ease-out, opacity 1s ease-out;
}

.cardimage {
  border: 3px solid black;
  width: 80%;
  margin-left: 10%;
}

.cardcontent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out, opacity 1s ease-out;
}

#boxeimg {
  position: absolute;
  width: 26.5%;
  left: 26.7%;
}



.boxetext {
  margin-top: 18%;
  width: 34%;
  margin-left: 33.5%;
}

.card:hover .cardcontent {
  opacity: 1;
  max-height: 60vh;
  transition: max-height 1s ease-out, opacity 1s ease-out;
}

.dropdown:hover+.divside #imageside2 {
  margin-top: 35vh;
  transition: 0.5s;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3vw;
  background-position: bottom;

  margin-top: 90vh;
  padding-bottom: 15vh;
  transition: 0.5s;
}


.card {
  flex: 30%;
  padding-bottom: 5vw;
}

.paístitulo {
  position: absolute;
  left: 45%;
  font-size: 4vw;
  text-align: center;
  color: white;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.pódiotitulo {
  position: absolute;
  left: 45%;
  font-size: 4vw;
  text-align: center;
  color: white;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.medalha {
  width: 2.25vw;
  margin-right: 1vw;

}

.textmedalha {

  margin-left: 2vw;
  font-size: 2.8rem;
  color: white;
}

.podiodiv {
  border: 2px solid black;
  background-color: #BBBBBB;
  width: 60%;
  margin-top: 10vw;
  padding-top: 1vw;
  height: 100%;
  align-items: center;
  margin-left: 20%;
  margin-bottom: 10vw;
  height: 67vw;
}

.podio {
  margin-left: 2vw;
  color: black;
  font-size: 2rem;
  margin-top: 1.5%;
  text-align: center;
  background-color: #EEEEEE;
  border: 2px solid black;
  padding: 1vw;
  width: 90%;


}

.podioname {
  margin-top: 0.7vw;
  margin-left: 6vw;
  position: absolute;
}

.medalhanumber {
  margin-left: 28vw;
  font-size: 2.5rem;
}

.podioimage {
  border: 2px solid black;
  width: 80px;
  position: absolute;
  margin-top: 0.75vw;
  margin-left: 0.25vw;
}

.podionumber {
  font-size: 3rem;
  margin-right: 1vw;
}

.medalhapodio {
  width: 3.5%;
}

#aname {
  color: rgb(130, 184, 255);
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  color: #333;
}

.medals-table {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #444;
  margin-top: 5vw;
  margin-bottom: 10vw;
  color: white;
}

.medals-table th,
.medals-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.medals-table th {
  background-color: #252525;
  color: white;
}

.medals-table tr:nth-child(even) {
  background-color: #333;
}

#titulopodio {
  color: white !important;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  font-size: 3vw;
}

.thpodio {
  color: white !important;
  font-size: 1vw;
}

.países {
  color: white;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  position: absolute;
  height: 10%;
  display: flex;
  margin-top: 5vw;
  flex-wrap: wrap;
  text-align: center;


}

.paisdiv {
  flex: 45%;

}

.pais {
  margin-top: 5vw;
  font-size: 2.5vw;

}

.space {
  margin-bottom: 10vw;
}

.paiscontent {
  font-size: 2vw;


}

.paisimage {
  width: 50%;
  border: 2px solid black;
  transition: 1s;
}

.paisimage:hover {
  width: 60%;
  transition: 1s;
}

.ouro {
  color: #FFD700 !important;
}

.prata {
  color: #c0c0c0 !important;
}

.bronze {
  color: #cd7f32 !important;
}

#brasil {
  background: url("img/brazil.png");
  background-clip: text;
  font-weight: bold;
  -webkit-background-clip: text;
  background-size: cover;
  color: transparent;
  background-position: center;
  text-shadow: none;
}

#EUA {
  background: url("img/euacolor.png");
  background-clip: text;
  font-weight: bold;
  -webkit-background-clip: text;
  background-size: cover;
  color: transparent;
  text-shadow: none;
}

#cuba {
  background: url("img/cuba.png");
  background-clip: text;
  font-weight: bold;
  -webkit-background-clip: text;
  background-size: cover;
  color: transparent;
  text-shadow: none;

}

#espanha {
  background: url("img/espanha.png");
  background-clip: text;
  font-weight: bold;
  -webkit-background-clip: text;
  background-size: cover;
  background-position: bottom;
  color: transparent;
  text-shadow: none;
}

#holanda {
  background: url("img/netherlands-flag-colors.png");
  background-clip: text;
  font-weight: bold;
  -webkit-background-clip: text;
  background-size: cover;
  background-position: center;
  color: transparent;
  text-shadow: none;
}

#japão {
  background: url("img/japan.png");
  background-clip: text;
  font-weight: bold;
  -webkit-background-clip: text;
  background-size: cover;
  color: transparent;
  text-shadow: none;
}

#frança {
  background: url("img/frança.png");
  background-clip: text;
  font-weight: bold;
  -webkit-background-clip: text;
  background-size: cover;
  color: transparent;
  text-shadow: none;
}

#inglaterra {
  background: url("img/inglaterracolor.png");
  background-clip: text;
  font-weight: bold;
  background-position: center;
  -webkit-background-clip: text;
  background-size: cover;
  color: transparent;
  text-shadow: none;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 410px) {
  .indextitulo {
    top: 43.5% !important;
    font-size: 18vw;
    left: 6% !important;

  }

  .icone {
    top: 40% !important;
    width: 90% !important;
    opacity: 1 !important;
    right: 4% !important;
  }

  .dropdown:hover~#iconeolimpiadas .icone {
    top: 50% !important;
  }

  .dropdown:hover~.indextitulo {
    top: 53% !important;
  }

  .icone {
    transition: 0.7s;
  }

  .indextitulo {
    transition: 0.7s;
  }

  .footer {
    font-size: 0.85rem;
    width: 100vw;
    margin-left: -1.5%;
    padding: 3vw;
    top: 88.5%;

  }

  .dropdown:hover+.divside .sidecontent .sidetitulo {
    margin-top: 35vh;
    transition: 0.5s
  }

  .dropdown:hover+.divside .sidecontent .sidetext {
    margin-top: 35vh;
    transition: 0.5s
  }

  .dropdown:hover+.divside #imageside2 {
    margin-top: 38vh;
    transition: 0.5s;
  }

  .dropdown:hover~.cards {
    margin-top: 150vh;
    transition: 0.5s;
  }

  #imageside1 {
    width: 40%;
    margin-left: 55%
  }

  #imageside2 {
    width: 40%;

  }

  .sidetitulo {
    font-size: 15vw;
    left: 22%;
    top: 60%;
    transition: 0.5s
  }

  .sidetext {
    font-size: 5vw;
    width: 75%;
    left: 14%;
    top: 75%;
    transition: 0.5s
  }

  .footeresportes {
    font-size: 0.9rem;
  }

  #boxeimg {
    width: 75%;
    left: 2%;
  }

  .boxetext {
    width: 80%;
    color: white;
    padding: 1vw;
    margin-left: 8%;
    margin-top: 45%;
    position: absolute;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    transition: max-height 1s ease-out, opacity 1s ease-out;
  }

  .cards {
    margin-top: 120vh;
    display: block;
    margin-bottom: 50vh
  }

  .cardtitulo {
    font-size: 12vw;
  }

  .cardtext {
    font-size: 6vw;
  }

  .paístitulo {
    font-size: 16vw;
    margin-top: -2vw;
    left: 28%;
    transition: 0.5s;
  }

  .países {
    margin-top: 25vw;
    transition: 0.5s;
  }

  .paisimage {
    width: 80%;

  }

  .paiscontent {
    font-size: 3vw;
  }

  .space {
    margin-bottom: 40vw;
  }

  .paisimage:hover {
    width: 95%;
    transition: 1s;
  }

  #titulopodio {
    font-size: 8vw;
    margin-top: 8vw;
    margin-bottom: 12vw;
    transition: 0.5s;
  }

  .thpodio {
    font-size: 3vw;
  }

  .flag {
    width: 100% !important;
  }

  .podiomedalha {
    width: 100%;
  }
  .dropdown:hover + .paístitulo{ 
    margin-top: 70vw;
    transition: 0.5s;
  }
  .dropdown:hover ~ .países{ 
    margin-top: 95vw;
    transition: 0.5s;
  }
   .dropdown:hover+#titulopodio {
    margin-top: 75vw;
    transition: 0.5s;
  }
}
@media (max-width: 500px) {
  .indextitulo {
    top: 43.5% !important;
    font-size: 18vw;
    left: 6% !important;

  }

  .icone {
    top: 40% !important;
    width: 90% !important;
    opacity: 1 !important;
    right: 4% !important;
  }

  .dropdown:hover~#iconeolimpiadas .icone {
    top: 50% !important;
  }

  .dropdown:hover~.indextitulo {
    top: 53% !important;
  }

  .icone {
    transition: 0.7s;
  }

  .indextitulo {
    transition: 0.7s;
  }

  .footer {
    font-size: 0.85rem;
    width: 100vw;
    margin-left: -1.5%;
    padding: 3vw;
    top: 88.5%;

  }

  .dropdown:hover+.divside .sidecontent .sidetitulo {
    margin-top: 35vh;
    transition: 0.5s
  }

  .dropdown:hover+.divside .sidecontent .sidetext {
    margin-top: 35vh;
    transition: 0.5s
  }

  .dropdown:hover+.divside #imageside2 {
    margin-top: 38vh;
    transition: 0.5s;
  }

  .dropdown:hover~.cards {
    margin-top: 150vh;
    transition: 0.5s;
  }

  #imageside1 {
    width: 40%;
    margin-left: 55%
  }

  #imageside2 {
    width: 40%;

  }

  .sidetitulo {
    font-size: 15vw;
    left: 22%;
    top: 62.5%;
    transition: 0.5s
  }

  .sidetext {
    font-size: 5vw;
    width: 75%;
    left: 14%;
    top: 75%;
    transition: 0.5s
  }

  .footeresportes {
    font-size: 0.9rem;
  }

  #boxeimg {
    width: 75%;
    left: 2%;
  }

  .boxetext {
    width: 80%;
    color: white;
    padding: 1vw;
    margin-left: 8%;
    margin-top: 45%;
    position: absolute;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
    transition: max-height 1s ease-out, opacity 1s ease-out;
  }

  .cards {
    margin-top: 120vh;
    display: block;
    margin-bottom: 50vh
  }

  .cardtitulo {
    font-size: 12vw;
  }

  .cardtext {
    font-size: 6vw;
  }

  .paístitulo {
    font-size: 16vw;
    margin-top: -2vw;
    left: 28%;
    transition: 0.5s;
  }

  .países {
    margin-top: 25vw;
    transition: 0.5s;
  }

  .paisimage {
    width: 80%;

  }

  .paiscontent {
    font-size: 3vw;
  }

  .space {
    margin-bottom: 40vw;
  }

  .paisimage:hover {
    width: 95%;
    transition: 1s;
  }

  #titulopodio {
    font-size: 8vw;
    margin-top: 8vw;
    margin-bottom: 12vw;
    transition: 0.5s;
  }

  .thpodio {
    font-size: 3vw;
  }

  .flag {
    width: 100% !important;
  }

  .podiomedalha {
    width: 100%;
  }
  .dropdown:hover + .paístitulo{ 
    margin-top: 70vw;
    transition: 0.5s;
  }
  .dropdown:hover ~ .países{ 
    margin-top: 95vw;
    transition: 0.5s;
  }
   .dropdown:hover+#titulopodio {
    margin-top: 75vw;
    transition: 0.5s;
  }
}	
